@charset "utf-8";
/****************************** 全体共通 ******************************/
html {
    font-size: 16px;
}
html * {
    box-sizing: border-box;
}
body{
    font-family: 'Kosugi Maru', sans-serif !important;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    padding: 0;
}
@media screen and (max-width: 414px) {
    table,
    tbody,
    table tr,
    table th,
    table td {
        display: block;
        width: 100%;
    }
}
p {
    margin: 0 !important;
}
section {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}
@media screen and (max-width: 414px) {
    section {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
label {
    font-weight: normal !important;
}
table {
    width: 100%;
}
th {
    vertical-align: middle;
}
td {
    padding: 10px !important;
    background-color: #fff;
}
input[type=radio] {
    margin: -2px 5px 0 0 !important;
}
input[type=radio]:hover,
input[type=checkbox]:hover {
    cursor: pointer;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.pc {
    display: block;
}

.sp {
    display: none;
}

@media screen and (max-width: 767px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
}
/****************************** お問い合わせ(入力画面) ******************************/
.input select {
    width: 25%;
}
.requied {
    color: #f00;
}
.sex_area td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sex_area td input:not(:first-of-type) {
    margin-left: 15px !important;
}
.blood_type_area td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.blood_type_area td input:not(:first-of-type) {
    margin-left: 15px !important;
}
.type_a,
.type_b,
.type_o,
.type_ab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post_code_area td {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phone_number_area td {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.interest_category_area td {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.interest_category_area td input:not(:first-of-type) {
    margin-left: 15px !important;
}
.submit_btn {
    width: 25% !important;
}
/****************************** お問い合わせ(入力画面-入力エラー時-) ******************************/
.error_message {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px
}
.error_message:empty {
    color: #fff !important;
    background-color: #fff !important;
    border-color: #fff !important;
}
/****************************** お問い合わせ(確認画面) ******************************/
.confirm_header {
    border-bottom: double;
}
.confirm h2 {
    border-bottom: solid 1px #000;
}
.confirm table {
    width: 90%;
    margin: 0 auto;
}

.confirm tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.confirm th,
.confirm td {
    flex: 1;
}
.confirm .sex_area td,
.confirm .blood_type_area td,
.confirm .post_code_area td,
.confirm .phone_number_area td {
    display: table-cell;
}
.confirm .submit_btn_area {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.confirm .submit_btn_area button {
    width: 25%;
}
/****************************** お問い合わせ(完了画面) ******************************/
